/* Variables  style */
:root {
  --hue: 227;
  --sat: 47%;
  --primary-color: hsl(var(--hue), var(--sat), 52%);
  --primary-color-light: hsl(var(--hue), var(--sat), 85%);
  --primary-color-lighten: hsl(var(--hue), var(--sat), 80%);
  --secondary-color: hsl(120, var(--sat), 53%);
  --danger-color: #B71C1C;
  --info-color: #00c2d1;
  --success-color: #00C853;
  --warning-color: #f9e900;
  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --text-color-light: hsl(var(--hue), 4%, 65%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --container-color: #fff;
  --ff-primary: "Vazir", sans-serif;
}

/* todo Fontfamily style */
@font-face {
  font-family: "Vazir";
  src: local("vazir"), local("Vazir"), local("vazir-normal"), local("Vazir-normal"), url("../fonts/Vazir.eot") format("opentype"), url("../fonts/Vazir.eot?#iefix") format("embedded-opentype"), url("../fonts/Vazir.woff2") format("woff2"), url("../fonts/Vazir.woff") format("woff"), url("../fonts/Vazir.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Vazir-Bold";
  src: url("../fonts/Vazir-Bold.eot") format("opentype"), url("../fonts/Vazir-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Vazir-Bold.woff2") format("woff2"), url("../fonts/Vazir-Bold.woff") format("woff"), url("../fonts/Vazir-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Vazir-Thin";
  src: url("../fonts/Vazir-Thin.eot") format("opentype"), url("../fonts/Vazir-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Vazir-Thin.woff2") format("woff2"), url("../fonts/Vazir-Thin.woff") format("woff"), url("../fonts/Vazir-Thin.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "Vazir-Light";
  src: url("../fonts/Vazir-Light.eot") format("opentype"), url("../fonts/Vazir-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Vazir-Light.woff2") format("woff2"), url("../fonts/Vazir-Light.woff") format("woff"), url("../fonts/Vazir-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Vazir-Medium";
  src: url("../fonts/Vazir-Medium.eot") format("opentype");
  src: url("../fonts/Vazir-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Vazir-Medium.woff2") format("woff2"), url("../fonts/Vazir-Medium.woff") format("woff"), url("../fonts/Vazir-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Vazir-Black";
  src: url("../fonts/Vazir-Black.eot") format("opentype"), url("../fonts/Vazir-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Vazir-Black.woff2") format("woff2"), url("../fonts/Vazir-Black.woff") format("woff"), url("../fonts/Vazir-Black.ttf") format("truetype");
  font-weight: 900;
}
/* todo: Booter Font */
@font-face {
  font-family: "Booter";
  src: url("components/Shop/Fonts/Booter-ZeroZero.woff") format("woff"), url("components/Shop/Fonts/Booter-ZeroZero.woff2") format("woff2");
  font-weight: normal;
}
/* todo: YekanBakh Fonts */
@font-face {
  font-family: "YekanBakh";
  src: url("../fonts/YekanBakh-Regular.woff") format("woff");
}
@font-face {
  font-family: "YekanBakh Medium";
  src: url("../fonts/YekanBakh-Medium.woff") format("woff");
}
@font-face {
  font-family: "YekanBakh Bold";
  src: url("../fonts/YekanBakh-Bold.woff") format("woff");
}
@font-face {
  font-family: "YekanBakh Heavy";
  src: url("../fonts/YekanBakh-Heavy.woff") format("woff");
}
/*Reset & Base Utilities stylse */
*,
*::before,
*:after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My Reset Style */
a {
  text-decoration: none;
}

/* Main Layout styles(utilities) */
html {
  scroll-behavior: smooth;
  font-family: "YekanBakh";
}

body {
  font-family: "YekanBakh";
}

.container {
  width: 90vw !important;
  margin: 0px auto !important;
  display: grid;
  gap: 1.5rem;
}

.section {
  padding: 4rem 0 1rem 0;
}
.section__title, .section__title_center {
  font-size: 1.25rem;
  color: var(--title-color);
  margin-bottom: 1rem;
}
.section__title_center {
  text-align: center;
}
.section__title span, .section__title_center span {
  color: var(--primary-color);
}

.svg__img {
  width: 300px;
  justify-self: center;
}

.bold {
  font-weight: bold;
}

/* ? Button styles for prevent DRY */
.button {
  display: inline-block; /* for use into <a> and can get width & height  */
  background: var(--primary-color);
  color: var(--container-color);
  padding: 1.25rem 1.5rem;
  border-radius: 3rem;
  transition: 0.4s;
  font-family: "Vazir-Medium ", sans-serif;
  font-size: 1.2rem;
}
.button:hover {
  background: var(--container-color);
  outline: 1px solid var(--primary-color);
  color: var(--primary-color);
}
.button__header {
  display: none;
}
.button__link {
  background: var(--container-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 0.25rem 1rem;
}
.button__link:hover {
  background: var(--primary-color);
  color: var(--container-color);
}
.button__flext {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.button__danger {
  background: var(--danger-color);
}
.button__success {
  background: var(--success-color);
}
.button__info {
  background: var(--info-color);
  color: #000;
}
.button__warning {
  background: var(--warning-color);
  color: #000;
}

/* header section style */
.header {
  position: fixed; /* fixed has absolute into itself */
  top: 0;
  left: 0;
  width: 100%;
  background: var(--body-color);
  padding: 0.75rem 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}
.nav__logo {
  font-size: 2rem;
  font-weight: bold;
}
.nav__toggle {
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}
@media (max-width: 767px) {
  .nav__menu {
    position: fixed; /* fixed has absolute into itself */
    top: -100%; /* in toggle change to 4 rem */
    left: 0;
    right: 0;
    width: 90vw;
    margin: 0 auto;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    background: var(--container-color);
    border-radius: 1rem;
    padding: 2.5rem 0;
    z-index: -1;
    transition: all 0.4s;
  }
}
.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.nav__item-link, .nav__toggle, .nav__logo {
  color: var(--title-color);
}

.show-menu {
  top: 5rem;
}

.nav-scroll {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.09);
}

.active-link {
  position: relative;
  transition: 1s;
}
.active-link::before {
  content: "";
  position: absolute;
  top: 30px;
  right: 45%;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: black;
}

/* home section style */
.home {
  padding-top: 5rem;
}
.home__container {
  row-gap: 2.5rem;
}
.home__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.home__title span {
  color: var(--primary-color);
}
.home__description {
  margin-bottom: 1.5rem;
}
.home__link {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 0.8rem;
}

/* background property Example */
.background {
  background-color: red;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}

/* Responsive Styles */
@media screen and (min-width: 576px) {
  .svg__img {
    width: 100%;
  }
  .home {
    padding-top: 10rem;
  }
  .home__container {
    grid-template-columns: 1fr;
    align-items: center;
  }
  .home__img {
    order: 1;
  }
}
@media screen and (min-width: 768px) {
  .nav__list {
    flex-direction: row;
    column-gap: 2.5rem;
  }
  .nav__toggle {
    display: none;
  }
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .svg__img {
    width: 400px;
  }
  .button__header {
    display: block;
    padding: 0.5rem 1rem;
  }
}
/* 2-mini-components */
/* todo: Mega-Menu-Compenent styles  */
.megamenu-body {
  font-family: "YekanBakh";
  line-height: 1.5;
  background: rgba(0, 0, 0, 0.5);
  color: #1d2939;
  position: relative;
}

.icon-pack {
  display: none;
}

svg {
  width: 24px;
  height: 24px;
}

.megamenu__header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #fff;
  height: 80px;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.6);
}

.megamenu-container {
  width: 1216;
  margin: 0 auto;
}

.header__wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: relative;
}

.header__right {
  display: flex;
  align-items: center;
  height: 100%;
}

.header__logo {
  width: 48px;
  height: 48px;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-right: 38px;
  height: 100%;
}

.menu__item {
  height: 100%;
}

.menu__link {
  font-family: "YekanBakh Medium";
  color: inherit;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: color 0.1s ease-in;
  height: 100%;
}

.menu__link:hover {
  color: #ff74db;
  font-weight: bold;
}

.menu__link_icon {
  width: 14px;
  height: 14px;
  transition: all 0.1s ease-in;
}

.menu__link:hover .menu__link_icon {
  transform: rotate(180deg);
}

/* Header Left */
.header__left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__left_item {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #e5e5e5;
  color: #1d2939;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__icon_badge {
  width: 22px;
  height: 22px;
  background: #ff74db;
  color: #fff;
  border-radius: 50px;
  position: absolute;
  top: -6px;
  right: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "YekanBakh Medium";
  outline: 3px solid #fff;
}

.header__login_btn {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 12px 16px;
  border-radius: 10px;
  background: #7f56d9;
  color: #fff;
  transition: all 0.4s;
  font-family: "YekanBakh Medium";
}

.header__login_btn:hover {
  background: #7620e6;
}

/* Header-Submenu */
.header__submenu {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  height: 374px;
  background: #fafafa;
  border-radius: 0px 0px 16px 16px;
  transition: all 0.4s ease-in;
  z-index: -1;
  display: flex;
  gap: 20px;
  flex-direction: row-reverse;
  padding: 20px;
}

.product-link:hover ~ .header__submenu,
.header__submenu:hover {
  height: 374px;
  padding: 20px;
}

.header__submenu_img {
  border-radius: 14px;
}

.submenu__wrapper {
  flex-grow: 1;
  display: flex;
  gap: 40px;
}

.header__submenu_col {
  flex-grow: 1;
  background: rgb(253, 253, 253);
  height: 100%;
  border-radius: 0px 0px 25px 25px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header__submenu_row {
  flex-grow: 1;
  background: rgb(228, 228, 230);
  position: relative;
}

/* Border-Dashed Between Rows */
.row-first::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -20px;
  width: 2px;
  background-image: linear-gradient(#E5E5E5 50%, white 50%);
  background-size: 2px 14px;
  background-repeat: repeat-y;
}

.row-first::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
  height: 2px;
  background-image: linear-gradient(to right, #E5E5E5 50%, white 50%);
  background-repeat: repeat;
  background-size: 14px 2px;
}

.row-last::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -20px;
  width: 2px;
  background-image: linear-gradient(#E5E5E5 50%, #fff 50%);
  background-size: 2px 14px;
  background-repeat: repeat-y;
}

.row-last::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -20px;
  height: 2px;
  background-image: linear-gradient(to right, #e5e5e5 50%, #fff 50%);
  background-size: 14px 2px;
  background-repeat: repeat-x;
}

/* Overlay */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(153, 118, 251, 0.5);
  z-index: -2;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-in;
}

.overlay.show {
  visibility: visible;
  opacity: 1;
  z-index: -2;
}

/* todo: cart-component styles  */
.cart {
  font-size: 100px;
}

/* todo: 5-change-style Component */
#card-hover {
  font-family: "YekanBakh";
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  line-height: 1.5;
}

.card-hover {
  width: 592px;
  height: 424px;
  background-image: url("../img/mini-projects/5-card-hover-component/card.png");
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}
.card-hover .card_icons {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: -68px;
  left: 20px;
  opacity: 1;
  visibility: visible;
  transition: 0.4s;
}
.card-hover .card_icons__messages {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: 80px;
  height: 48px;
  border-radius: 50px;
  background: #1d2939;
  font-family: "YekanBakh Bold";
  color: #fff;
  cursor: pointer;
}
.card-hover .card_icons__messages_img {
  filter: brightness(7);
}
.card-hover .card_icons__messages_num {
  font-size: 18px;
}
.card-hover .card_icons .card_icons__heart {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background: #c91b4a;
  cursor: pointer;
}
.card-hover .card_icons .card_icons__heart_icon {
  filter: brightness(7);
}
.card-hover .overlay {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgb(0, 0, 0));
  position: absolute;
  inset: 0;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}
.card-hover .card_content {
  color: #fff;
  position: absolute;
  bottom: -100%;
  right: 20px;
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
}
.card-hover .card_content__title {
  margin-bottom: 1rem;
}
.card-hover .card_content__caption {
  color: #c5c0c0;
}

.card-hover:hover .card_content {
  bottom: 27px;
  opacity: 1;
  visibility: visible;
}

.card-hover:hover .overlay {
  opacity: 1;
  visibility: visible;
}

.card-hover:hover .card_icons {
  top: 20px;
  opacity: 1;
  visibility: visible;
}

/* css-components --> 9-popup styles */
.popup-proj-body {
  font-family: "YekanBakh";
  line-height: 1.5;
  color: #1d2939;
  height: 100vh;
  overflow-y: hidden;
}

.svg-sprite {
  display: none;
}

.popup__btn {
  /* flex-Container */
  border: inherit;
  font: inherit;
  background: #ed1a3b;
  color: #fff;
  border-radius: 10px;
  padding: 18px 0px;
  width: 326px;
  cursor: pointer;
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.popup__btn:hover {
  background: #f30000;
}

/* Popup Box */
.popup__box {
  background: #fff;
  padding: 24px;
  border-radius: 16px;
  font-size: 18px;
  font-family: "YekanBakh Medium";
  width: 384px;
  height: 282px;
  z-index: 20;
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
}
.popup__box_title {
  font-weight: bold;
}

.popup__box.show {
  visibility: visible;
  opacity: 1;
}

.popup__box_close {
  background: #1D2539;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.popup__box_close:hover {
  background: #0f1115;
}

/* Popup Overley */
.popup__overlay {
  position: fixed;
  inset: 0;
  background: rgba(9, 9, 9, 0.5);
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
}

.popup__box.show + .popup__overlay {
  visibility: visible;
  opacity: 1;
}

/* 12-load-more styles */
.loadmore-body {
  font-family: "YekanBakh";
  line-height: 1.5;
  padding: 85px 0;
}

.loadmore {
  width: 1008px;
  margin: 0 auto;
}
.loadmore__header {
  text-align: center;
}
.loadmore__header_title {
  font-family: "YekanBakh Heavy";
  font-size: 30px;
  margin-bottom: 4px;
}
.loadmore__content {
  background-color: #f5f5f5;
  border-radius: 16px;
  padding: 24px 8px 38px 24px;
  position: relative;
}
.loadmore__content_text {
  height: 288px;
  overflow: hidden;
  direction: ltr; /* for scrollbar apeare in right */
  padding-right: 8px;
  text-align: right;
}
.loadmore__content_shadow {
  background-image: linear-gradient(0deg, #f5f5f5 0%, rgba(245, 245, 245, 0.54) 71.07%, rgba(245, 245, 245, 0) 100%);
  width: 100%;
  height: 158px;
  position: absolute;
  bottom: 90px;
  right: 0;
  left: 0;
}
.loadmore__content_btn {
  width: 302px;
  height: 48px;
  border-radius: 8px;
  background: #eb5e28;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: #fff;
  font: inherit;
  margin: 0 auto;
  margin-top: 24px;
  font-family: "YekanBakh Medium";
}
.loadmore__content_btn-icon {
  width: 24px;
  height: 24px;
}

.close-btn {
  display: none;
}

.loadmore__content.show .loadmore__content_text {
  height: 400px;
  overflow-y: scroll;
}

.loadmore__content.show .loadmore__content_shadow {
  display: none;
}

.loadmore__content.show .loadmore__content_btn {
  background: #fff;
  border: 1px solid #eb5e28;
  color: #eb5e28;
}

.loadmore__content.show .close-btn {
  display: block;
}

.loadmore__content.show .open-btn {
  display: none;
}

/* Custom Scrollbar */
.loadmore__content_text::-webkit-scrollbar {
  width: 8px;
  background: transparent;
  direction: rtl;
}

.loadmore__content_text::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 50px;
  transition: 0.4s;
  cursor: pointer;
}

.loadmore__content_text::-webkit-scrollbar-thumb:hover {
  background: #878787;
}

/* 3-mini-components2 */
/* todo: 1-NavMenu-advance styles  */
/* Utilities */
.navmenu-advance__body {
  font-family: "YekanBakh";
  line-height: 1.5;
  background: #f7f8fd;
  color: #1d2939;
}

.navmenu-advance__container {
  max-width: 90%;
  margin: 0 auto;
}

.navmenu-advance {
  height: 100px;
  background: #fff;
  border-radius: 12px;
  margin-top: 1rem;
  box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.2);
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* navmenu left */
  /* navmenu_left Logo */
  /* navmenu_left List */
  /* navmenu Right */
}
.navmenu-advance__left {
  display: flex;
  align-items: center;
  column-gap: 75px;
}
.navmenu-advance__left_logo {
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.navmenu-advance__left_img {
  min-width: 50px;
}
.navmenu-advance__left_img img {
  width: 120px;
}
.navmenu-advance__left_imgtitle {
  font-family: "YekanBakh";
}
.navmenu-advance__left_list, .navmenu-advance__right_list {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.navmenu-advance__left_link {
  color: #000;
  font-weight: bold;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  transition: 0.3s;
}
.navmenu-advance__left_link.active {
  color: #fff;
  background: linear-gradient(91deg, #3ac2ff, #2f56ff);
}
.navmenu-advance__burger {
  display: none;
}
.navmenu-advance__burger img {
  width: 48px;
  height: 48px;
  stroke: #03adbd;
}
.navmenu-advance__wrapper {
  display: flex;
  align-items: center;
  column-gap: 50px;
}
.navmenu-advance__right_userstatus {
  padding: 5px 10px;
  border-radius: 5px;
  background: #edfdfa;
  color: #1f927f;
}
.navmenu-advance__right_userstatus span {
  font-size: 20px;
  color: #1f927f;
}
.navmenu-advance__right_user {
  display: flex;
  align-items: center;
}
.navmenu-advance__right_userprofile img {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
}

/* Responsive code */
@media screen and (max-width: 1200px) {
  .navmenu-advance__left {
    column-gap: 20px;
  }
  .navmenu-advance__left_list, .navmenu-advance__right_list {
    column-gap: 15px;
  }
  .navmenu-advance__wrapper {
    display: flex;
    align-items: center;
    column-gap: 15px;
    position: relative;
    cursor: pointer;
  }
  .navmenu-advance__right_list {
    position: absolute;
    right: 0;
    bottom: -251px;
    width: 150px;
    flex-direction: column;
    row-gap: 20px;
    background: #f7f8fd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.2);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
  }
  .navmenu-advance__right_list.show {
    visibility: visible;
    opacity: 1;
  }
}
@media screen and (max-width: 768px) {
  .navmenu-advance {
    position: relative;
  }
  .navmenu-advance__left_imgtitle {
    font-size: 24px;
  }
  .navmenu-advance__left_list {
    position: absolute;
    flex-direction: column;
    top: 100px;
    width: 32%;
    left: 0;
    background: #f7f8fd;
    row-gap: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.2);
    padding: 20px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
  }
  .navmenu-advance__left_list.show {
    opacity: 1;
    visibility: visible;
  }
  .navmenu-advance__burger {
    display: block;
    cursor: pointer;
  }
}
@media screen and (max-width: 576px) {
  .navmenu-advance {
    margin-top: 0;
    border-radius: 0;
  }
  .navmenu-advance__container {
    max-width: 100% !important;
  }
}
/* todo: cart-component styles  */
.cart {
  font-size: 100px;
}

/* todo: 5-change-style Component */
#card-hover {
  font-family: "YekanBakh";
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  line-height: 1.5;
}

.card-hover {
  width: 592px;
  height: 424px;
  background-image: url("../img/mini-projects/5-card-hover-component/card.png");
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}
.card-hover .card_icons {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: -68px;
  left: 20px;
  opacity: 1;
  visibility: visible;
  transition: 0.4s;
}
.card-hover .card_icons__messages {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: 80px;
  height: 48px;
  border-radius: 50px;
  background: #1d2939;
  font-family: "YekanBakh Bold";
  color: #fff;
  cursor: pointer;
}
.card-hover .card_icons__messages_img {
  filter: brightness(7);
}
.card-hover .card_icons__messages_num {
  font-size: 18px;
}
.card-hover .card_icons .card_icons__heart {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background: #c91b4a;
  cursor: pointer;
}
.card-hover .card_icons .card_icons__heart_icon {
  filter: brightness(7);
}
.card-hover .overlay {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgb(0, 0, 0));
  position: absolute;
  inset: 0;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}
.card-hover .card_content {
  color: #fff;
  position: absolute;
  bottom: -100%;
  right: 20px;
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
}
.card-hover .card_content__title {
  margin-bottom: 1rem;
}
.card-hover .card_content__caption {
  color: #c5c0c0;
}

.card-hover:hover .card_content {
  bottom: 27px;
  opacity: 1;
  visibility: visible;
}

.card-hover:hover .overlay {
  opacity: 1;
  visibility: visible;
}

.card-hover:hover .card_icons {
  top: 20px;
  opacity: 1;
  visibility: visible;
}

/* css-components --> 9-popup styles */
.popup-proj-body {
  font-family: "YekanBakh";
  line-height: 1.5;
  color: #1d2939;
  height: 100vh;
  overflow-y: hidden;
}

.svg-sprite {
  display: none;
}

.popup__btn {
  /* flex-Container */
  border: inherit;
  font: inherit;
  background: #ed1a3b;
  color: #fff;
  border-radius: 10px;
  padding: 18px 0px;
  width: 326px;
  cursor: pointer;
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.popup__btn:hover {
  background: #f30000;
}

/* Popup Box */
.popup__box {
  background: #fff;
  padding: 24px;
  border-radius: 16px;
  font-size: 18px;
  font-family: "YekanBakh Medium";
  width: 384px;
  height: 282px;
  z-index: 20;
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
}
.popup__box_title {
  font-weight: bold;
}

.popup__box.show {
  visibility: visible;
  opacity: 1;
}

.popup__box_close {
  background: #1D2539;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.popup__box_close:hover {
  background: #0f1115;
}

/* Popup Overley */
.popup__overlay {
  position: fixed;
  inset: 0;
  background: rgba(9, 9, 9, 0.5);
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
}

.popup__box.show + .popup__overlay {
  visibility: visible;
  opacity: 1;
}

/* 12-load-more styles */
.loadmore-body {
  font-family: "YekanBakh";
  line-height: 1.5;
  padding: 85px 0;
}

.loadmore {
  width: 1008px;
  margin: 0 auto;
}
.loadmore__header {
  text-align: center;
}
.loadmore__header_title {
  font-family: "YekanBakh Heavy";
  font-size: 30px;
  margin-bottom: 4px;
}
.loadmore__content {
  background-color: #f5f5f5;
  border-radius: 16px;
  padding: 24px 8px 38px 24px;
  position: relative;
}
.loadmore__content_text {
  height: 288px;
  overflow: hidden;
  direction: ltr; /* for scrollbar apeare in right */
  padding-right: 8px;
  text-align: right;
}
.loadmore__content_shadow {
  background-image: linear-gradient(0deg, #f5f5f5 0%, rgba(245, 245, 245, 0.54) 71.07%, rgba(245, 245, 245, 0) 100%);
  width: 100%;
  height: 158px;
  position: absolute;
  bottom: 90px;
  right: 0;
  left: 0;
}
.loadmore__content_btn {
  width: 302px;
  height: 48px;
  border-radius: 8px;
  background: #eb5e28;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: #fff;
  font: inherit;
  margin: 0 auto;
  margin-top: 24px;
  font-family: "YekanBakh Medium";
}
.loadmore__content_btn-icon {
  width: 24px;
  height: 24px;
}

.close-btn {
  display: none;
}

.loadmore__content.show .loadmore__content_text {
  height: 400px;
  overflow-y: scroll;
}

.loadmore__content.show .loadmore__content_shadow {
  display: none;
}

.loadmore__content.show .loadmore__content_btn {
  background: #fff;
  border: 1px solid #eb5e28;
  color: #eb5e28;
}

.loadmore__content.show .close-btn {
  display: block;
}

.loadmore__content.show .open-btn {
  display: none;
}

/* Custom Scrollbar */
.loadmore__content_text::-webkit-scrollbar {
  width: 8px;
  background: transparent;
  direction: rtl;
}

.loadmore__content_text::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 50px;
  transition: 0.4s;
  cursor: pointer;
}

.loadmore__content_text::-webkit-scrollbar-thumb:hover {
  background: #878787;
}

/*# sourceMappingURL=style.css.map */
