/* todo: 02-navmenu-dropdown styles  */

.navmenu-dropdown-body {
  min-width: 100vh;
  background-image: url(../img/compenents2/bg_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
