/* todo: 02-navmenu-dropdown styles  */

.navmenu-dropdown-body {
  min-width: 100vh;
  background-image: url(../img/compenents2/bg_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "YekanBakh";
  line-height: 1.5;
}
.navmenu-dropdown-cotainer {
  max-width: 90%;
  margin: 0 auto;
  background: blue;
}
.navmenu-dropdown__box {
  width: 80%;
  margin: 0 auto;
  background: red;
  margin-top: 50px;
  padding: 20px;
  border-radius: 10px;
}
.navmenu-dropdown__menu {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.navmenu-dropdown__item {
}
.navmenu-dropdown__link {
  color: aliceblue;
}

select {
  background: none;
  border: none;
  outline: 0;
  font-family: "YekanBakh";
}
