/* todo: 1-NavMenu-advance styles  */
/* Utilities */

.navmenu-advance__body {
  font-family: "YekanBakh";
  line-height: 1.5;
  background: #f7f8fd;
  color: #1d2939;
}
.navmenu-advance__container{
  max-width: 90%;
  margin: 0 auto;
}
.navmenu-advance{
  height: 100px;
  background: #fff;
  border-radius: 12px;
  margin-top: 1rem;
  box-shadow: 0px 2px 8px 0px rgba(99,99,99, 0.2);
  padding: 10px 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;
/* navmenu left */
  &__left{
    display: flex;
    align-items: center;
    column-gap: 75px;
    
  }
  &__left_logo{
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 5px;
  }

  &__left_img{
    min-width:50px ;
  }
&__left_img img{
  width: 100%;
}
  &__left_imgtitle{
    font-family: "YekanBakh";
    
  }
/* navmenu left List */
  &__left_list,
  &__right_list{
    display: flex;
    align-items: center;
    column-gap: 30px;

  }
  &__left_item{

  }
  &__left_btn{
    font: inherit;
    border: 0;
    background: linear-gradient(91deg, #1fb7f1, #1479ee);
    border-radius: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 10px 10px;
  }
   &__left_btn .first-btn{
    color: #fff;
   }
  &__left_link:not(.first-btn){
    color: #000;
  }

  /* navmenu Right */
  &__wrapper{
    display: flex;
    align-items: center;
    column-gap: 40px;
  }
  &__right_user{
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
  &__right_userprofile img{
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
  }
}