/* todo: 1-NavMenu-advance styles  */
/* Utilities */

.navmenu-advance-body {
  font-family: "YekanBakh";
  line-height: 1.5;
  background: #f7f8fd;
  color: #1d2939;
}
.navmenu-advance-container{
  max-width: 90%;
  margin: 0 auto;
}
.navmenu-advance-section{
  width: 100%;
  height: 100px;
  background: red;
}