/* todo: 1-NavMenu-advance styles  */
/* Utilities */

.navmenu-advance__body {
  font-family: "YekanBakh";
  line-height: 1.5;
  background: #f7f8fd;
  color: #1d2939;
}
.navmenu-advance__container {
  max-width: 90%;
  margin: 0 auto;
}
.navmenu-advance {
  height: 100px;
  background: #fff;
  border-radius: 12px;
  margin-top: 1rem;
  box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.2);
  padding: 10px 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  /* navmenu left */
  /* navmenu_left Logo */
  &__left {
    display: flex;
    align-items: center;
    column-gap: 75px;
  }
  &__left_logo {
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 5px;
  }

  &__left_img {
    min-width: 50px;
  }
  &__left_img img {
    width: 120px;
  }
  &__left_imgtitle {
    font-family: "YekanBakh";
  }
  /* navmenu_left List */
  &__left_list,
  &__right_list {
    display: flex;
    align-items: center;
    column-gap: 15px;
  }
  &__left_link {
    color: #000;
    font-weight: bold;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;

    transition: 0.3s;
  }
  &__left_link.active {
    color: #fff;
    background: linear-gradient(91deg, #3ac2ff, #5d77e9);
  }

  &__burger {
    display: none;
  }
  &__burger img {
    width: 48px;
    height: 48px;
    stroke: #03adbd;
  }

  /* navmenu Right */
  &__wrapper {
    display: flex;
    align-items: center;
    column-gap: 50px;
  }
  &__right_userstatus {
    padding: 5px 10px;
    border-radius: 5px;
    background: #edfdfa;
    color: #1f927f;
  }
  &__right_userstatus span {
    font-size: 20px;
    color: #1f927f;
  }
  &__right_user {
    display: flex;
    align-items: center;
  }

  &__right_userprofile img {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
  }
}

/* Responsive code */
@media screen and (max-width: 1200px) {
  .navmenu-advance {
    &__left {
      column-gap: 20px;
    }
    &__left_list,
    &__right_list {
      column-gap: 15px;
    }
    &__wrapper {
      display: flex;
      align-items: center;
      column-gap: 15px;
      position: relative;
      cursor: pointer;
    }
    &__right_list {
      position: absolute;
      right: 0;
      bottom: -251px;
      width: 150px;
      flex-direction: column;
      row-gap: 20px;
      background: #f7f8fd;
      border-radius: 5px;
      padding: 20px;
      box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.2);
      visibility: hidden;
      opacity: 0;
      transition: 0.3s;
    }
    &__right_list.show {
      visibility: visible;
      opacity: 1;
    }
    &__right_list li a svg {
      // stroke: #fff;
    }
  }
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
  .navmenu-advance {
    margin-top: 0;
    border-radius: 0;
    &__container {
      max-width: 100% !important;
    }

    &__left {
    }
    &__left_imgtitle {
      font-size: 24px;
    }
    &__left_list {
      position: fixed;
      flex-direction: column;
      top: 105px;
      width: 230px;
      height: 100vh;
      left: -230px;
      background: #f7f8fd;
      row-gap: 10px;
      border-radius: 5px;
      box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.2);
      padding: 20px;
      align-items: flex-start;

      visibility: hidden;
      opacity: 0;
      transition: 0.3s;
    }
    &__left_list.show {
      opacity: 1;
      visibility: visible;
      left: 0;
    }
    &__left_link {
      min-width: 190; /* width of drawer - padding */
    }
    &__burger {
      display: block;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 576px) {
  .navmenu-advance {
  }
}
