/* App Fonts */

@font-face {
    font-family: "TTNorms";
    src: url("../fonts/TTNorms-Regular.otf") format("openType");
}

@font-face {
    font-family: "TTNorms Medium";
    src: url("../fonts/TTNorms-Medium.otf") format("openType");
}

@font-face {
    font-family: "TTNorms Light";
    src: url("../fonts/TTNorms-Light.otf") format("openType");
}

@font-face {
    font-family: "Times Roman Italic";
    src: url("../fonts/Times-new-roman-italic.ttf") format("truetype");
}

/* Start Project */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    list-style: none;
    padding: 0;
    margin: 0;

}

body {
    font-family: "TTNorms";
}

a {
    text-decoration: none;
}

/* todo:  utilities */
.container {
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

.btn {

    background-color: #0050c8;
    padding: .8rem 1.2rem;
    border-radius: .5rem;
    color: #fff;
}

.btn-green {
    background-color: #87bc25;
}


/* todo:  header-top style */

.header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.nav {
    display: flex;
    align-items: center;
}

.nav_logo__img {
    margin-right: 1.5rem;
}

.nav_menu {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
}

.menu_item__link, .contact__btn {
    text-decoration: none;
}

.menu_item__link {
    color: #081d43;
    padding: 0 1rem;
}

/* todo: header-bottom style */
.header_bottom {
    margin: 4rem 0;
}

.header-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.header-content_right {
    flex-basis: 50%;
}

.header-content_right__img {
    width: 100%;
    object-fit: cover;
}

.header-content_left {
    flex-basis: 50%;
}

.header-content_left__wraper {
    max-width: 28rem;
}

.header-content__title {
    font-family: "TTNorms Medium";
    color: #081d43;
    font-weight: normal;
}

.header-content__text {
    color: #6c7890;
    line-height: 2rem;
}

.header-content_left__btns {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

/* todo: Main-Work Section */
.main {
    padding: 3rem 0;
}

.works {
    text-align: center;
}

.works_text {
    color: #6c7890;
    margin-bottom: 0;
}

.works_title {
    color: #081d43;
    margin-top: .8rem;
}

.works-content {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-around;
}

.works-content__title {
    color: #081d43;
    font-family: "TTNorms Medium";
}

.works-content__text {
    color: #6c7890;
    line-height: 2rem;
    max-width: 16rem;
}

.works_img {
    max-width: 31rem;
    margin: 0 auto;
}

.works_img__img {
    width: 100%;
}

/* todo: Person Comments */
.person-comments {
    background-color: #2f5bea;
    padding: 5rem 0;
    color: #fff;
    text-align: center;
}

.person-coments_title {

    font-family: "TTNorms Medium";
    font-weight: normal;
    margin-bottom: 1.2rem;
}

.person-comments-text {
    font-family: "TTNorms Light";
    margin-bottom: 3rem;
}

.comments {
    display: flex;

}

.comment {
    background: #fff;
    border-radius: .3rem;
    margin: 0 1rem;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    height: 15rem;
    justify-content: space-between;
}

.comment_content {
    
}

.comment__text {
    font-family: "Times Roman Italic";
    color: #7e8085;
    line-height: 1.5rem;
}

.comment_info {
    display: flex;
    align-items: center;
    border-top: 1px solid #e8ebef;
    padding-top: 1.2rem;
}

.comment__img {
    margin-right: .5rem;
}

.comment__person {
    color: #000;
}



















/* Project Responsive */

@media only screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media only screen and (max-width: 992px) {
    .container {
        max-width: 720px;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        max-width: 540px;
    }
}

@media only screen and (max-width: 576px) {
    .container {
        max-width: 100%;
    }
}