/* App Fonts */

@font-face {
  font-family: "TTNorms";
  src: url("../fonts/TTNorms-Regular.otf") format("openType");
}

@font-face {
  font-family: "TTNorms Medium";
  src: url("../fonts/TTNorms-Medium.otf") format("openType");
}

@font-face {
  font-family: "TTNorms Light";
  src: url("../fonts/TTNorms-Light.otf") format("openType");
}

@font-face {
  font-family: "Times Roman Italic";
  src: url("../fonts/Times-new-roman-italic.ttf") format("truetype");
}

/* Start Project */

html {
  box-sizing: border-box;
  width: 100vw;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
}

body {
  font-family: "TTNorms";
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

section:not(.header-top, .newsletter, .copy-right) {
  padding: 5rem 0;
}

/* todo:  utilities */
.container {
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.btn {
  background-color: #0050c8;
  padding: 0.8rem 1.5rem;
  border-radius: 0.3rem;
  color: #fff;
}

.btn-green {
  background-color: #87bc25;
}

.section_text {
  color: #6c7890;
  margin-bottom: 0;
  text-transform: uppercase;
  margin-top: 0;
  font-size: 1.3rem;
}

.section_title {
  color: #081d43;
  margin-top: 0.8rem;
}

/* todo:  header-top style */
.header {
  margin-top: 1.5rem;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav_logo__img {
  margin-right: 1.5rem;
}

.menu {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
}

.menu__link {
  color: #081d43;
  padding: 0 1rem;
}

.menu__link,
.header_link {
  text-decoration: none;
}

.header_icon {
  font-size: 1.8rem;
  display: none;
  cursor: pointer;
}

/* todo: header-bottom style */
/* .header-bottom {} */

.row {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.header-bottom_right {
  flex-basis: 50%;
}

.header-bottom__img {
  width: 100%;
  object-fit: cover;
}

.header-bottom_left {
  flex-basis: 50%;
}

.header-bottom_left__wraper {
  max-width: 27rem;
}

.header-bottom__title {
  font-family: "TTNorms Medium";
  color: #081d43;
  font-weight: normal;
  font-size: 1.9rem;
}

.header-bottom__text {
  color: #6c7890;
  line-height: 2rem;
}

.header-bottom__links {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

/* todo: Main-Work Section */
.main {
  padding-top: 2rem;
}

.works {
  text-align: center;
}

.works-content {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}

.works-content_item {
  background: #fafafa;
}

.works-content__title {
  color: #081d43;
  font-family: "TTNorms Medium";
}

.works-content__text {
  color: #6c7890;
  line-height: 2rem;
  max-width: 16rem;
}

.works_img {
  max-width: 31rem;
  margin: 0 auto;
}

.works_img__img {
  width: 100%;
}

/* todo: Person Comments */
.person-comments {
  background-color: #2f5bea;
  color: #fff;
  text-align: center;
}

.person-coments_title {
  font-family: "TTNorms Medium";
  font-weight: normal;
  margin-bottom: 1.2rem;
  margin-top: 0;
  font-size: 1.8rem;
}

.person-comments_text {
  font-family: "TTNorms Light";
  margin-bottom: 3rem;
  max-width: 27rem;
  margin: 0 auto;
  line-height: 1.8;
}

.comments-container {
  max-width: 65rem;
  margin: 3.5rem auto 0;
}

.comments {
  /* flex-container */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.comment {
  /* flex-item -> comments & flex-container for child */
  background: #fff;
  border-radius: 0.5rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  min-height: 16rem;
  justify-content: space-between;
  flex-basis: 18rem;
}

.comment_content {
  /* flex-item -> comment */
  padding: 1.2rem;
  text-align: left;
}

.comment__text {
  font-family: "Times Roman Italic";
  color: #7e8085;
  line-height: 1.5rem;
  margin: 0;
}

.comment_info {
  /* flex-item -> comment */
  display: flex;
  align-items: center;
  border-top: 1px solid #e8ebef;
  padding: 0.8rem 1.2rem;
}

/* .comment__img {} */

.comment__person {
  color: #000;
  margin: 0 0 0 0.5rem;
}

.companies {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 5rem 0 3rem;
}

.companies_img {
  display: block;
  margin: 1rem;
}

/* todo : portfolio section */

.portfolio {
  text-align: center;
}

.portfolio-items {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 3rem;
}

.portfolio__item {
  flex-basis: 23rem;
  border-radius: 1rem;
  overflow: hidden;
}

.portfolio__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* todo: Footer section */
.newsletter {
  background: #2c57e4;
  padding: 6.5rem 0;
  color: #fff;
}

.newletter_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.newsletter_text {
  font-size: 1.6rem;
  font-weight: normal;
}

.newsletter_email {
  background: #fff;
  flex-basis: 18rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 0.4rem 0.4rem 1.5rem;
  border-radius: 0.5rem;
}

.newsletter__txt {
  border: none;
  outline: none;
  flex-basis: 12rem;
  width: 100%;
}

.newsletter__btn {
  background: #2f5bea;
  border: none;
  outline: none;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  cursor:pointer;
}

.copy-right {
  color: #6c7890;
  padding: 1rem 0;
}

.copy-right_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .copy-right_text {} */

/* Project Responsive */

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  /* todo: comments section */
  .comment {
    flex-basis: 17rem;
  }

  /* todo: companies section */
  .companies {
    margin: 2rem -5px 1rem;
  }
  /* todo: protfolio section */
  .portfolio__item {
    flex-basis: 18rem;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }

  .header_link {
    display: none;
  }

  /* todo: comments section */
  .comment {
    flex-basis: 18rem;
  }

  /* todo: companies section */
  .companies {
    margin: 2rem 30px -2rem;
  }
  /* todo: protfolio section */
  .portfolio__item {
    flex-basis: 13rem;
  }
  .newsletter{
    padding: 5.5rem 0;
  }
  .newsletter_text {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 768px) {
  /* todo: Utilities */
  .container {
    max-width: 540px;
  }

  section:not(.header-top, .newsletter, .copy-right) {
    padding: 2rem 0;
  }

  /* todo: header-top */
  .header_icon {
    display: block;
  }

  .menu {
    position: fixed;
    top: 0;
    left: -256px;
    bottom: 0;
    background: #2f5bea;
    flex-direction: column;
    width: 16rem;
    padding: 2rem 1rem;
    transition: 0.4s;
    color: #fff;
  }

  .menu_item {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    color: #fff;
  }

  .menu__link {
    color: #fff;
  }

  .menu.show {
    left: 0;
  }

  .header_icon i {
    transition: 0.4s;
  }

  /* todo: header-bottom */
  .row {
    flex-direction: column;
  }

  .header {
    margin-top: 0.5rem;
  }

  .header-bottom__title {
    text-align: center;
    font-size: 1.3rem;
  }

  .header-bottom__text {
    text-align: center;
  }

  .header-bottom__links {
    justify-content: center;
    flex-wrap: wrap;
  }

  /* todo: comments section */
  .comment {
    flex-basis: 13.8rem;
  }

  /* todo:  section */
  .companies {
    margin: 2rem 0px 1rem;
  }
  /* todo: protfolio section */
  .portfolio__item {
    flex-basis: 14rem;
  }
   /* todo: newsletter section */
  .newsletter{
    padding: 4.5rem 0;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    max-width: 100%;
  }

  .header-bottom__title {
    font-size: 1.1rem;
  }

  .header-bottom__text {
    font-size: 0.8rem;
  }

  /* todo: comments-responsive */
  .section_title {
    font-size: 1.2rem;
  }

  .person-coments_title {
    font-size: 1.5rem;
  }

  .person-comments_text {
    font-size: 0.8rem;
  }

  /* todo: comments section */
  .comment {
    flex-basis: 20rem;
  }

  /* todo: companies section */
  .companies {
    justify-content: center;
    margin: 1rem 0px 1rem;
  }
  /* todo: protfolio section */
  .section__title{
    font-size: 1.4rem;
    line-height: 2rem;
  }
  .portfolio-items {
    gap: 1.5rem;
    margin-top: 1.5rem;
  }
  .portfolio__item {
    flex-basis: 100%;
  }
 /* todo: newsletter section */
 .newsletter{
    padding: 3.5rem 0;
 }
  .newletter_wrapper{
    flex-direction: column;
  }
  .newsletter_text {
    font-size: 1.2rem;
    text-align: center;
}
  .newsletter_email{
    flex-basis: auto;
  }
  .newsletter__btn{
    padding: .6rem 1.2rem;
  }
  .copy-right_wrapper{
    flex-direction: column;
  }
  .copy-right_text{
    text-align: center;
  }
}