/* todo: my-MiniProjects: 01-cube-example-ui  */
.pseudo-practice__body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.pseudo-practice__wraper {
}
.pseudo-practice__card {
  margin: 0 auto;
  height: 500px;
}
.pseudo-practice__card_body {
}
/* todo: Hero-image */
.hero-image {
  position: relative;
  height: 100%;
}
.cube {
  width: 80px;
  height: 80px;
  background-size: cover;
  position: absolute;

  transform: rotate(-25deg) skew(25deg);
  box-shadow: -50px 50px 20px rgba(50, 50, 50, 0.15);
}

.cube::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  transform: skewY(-45deg);
  left: -20px;
  bottom: -10px;
}

.cube::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: -20px;
  left: -10px;
  transform: skewX(-45deg);
}

#react {
  left: 100px;
  bottom: 80px;

  background-color: rgb(119, 193, 227);
  background-image: url(../img/03-my-miniproject-ui/react-square.png);
}
#react::before {
  background: rgb(154, 189, 221);
}
#react::after {
  background-color: rgb(188, 200, 221);
}

#js {
  left: 250px;
  bottom: 240px;

  background-color: rgb(119, 227, 186);
  background-image: url(../img/03-my-miniproject-ui/javascript-square.png);
}
#js::before {
  background: rgb(154, 221, 202);
}
#js::after {
  background-color: rgb(188, 221, 212);
}

#css {
  left: 450px;
  bottom: 200px;

  background-color: rgb(227, 119, 191);
  background-image: url(../img/03-my-miniproject-ui/css-square.png);
}
#css::before {
  background: rgb(221, 154, 207);
}
#css::after {
  background-color: rgb(221, 188, 211);
}

#html {
  left: 350px;
  bottom: 40px;

  background-color: rgb(175, 119, 227);
  background-image: url(../img/03-my-miniproject-ui/html-square.png);
}
#html::before {
  background: rgb(189, 154, 221);
}
#html::after {
  background-color: rgb(205, 188, 221);
}
