/* 04-my-miniprojects=ui --> 07-parallax-simple */
.parallax-simple-body{
  box-sizing: border-box;
}
.lazy-bg {
  height: 100vh;
  background-color: #ccc; /* رنگ پیش‌فرض */
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  transition: background-image 0.3s ease-in-out; 
}


