// 04-My-Miniprojects-Ui -> 08-parallax-Dinamic
  .parallax-Dinamic-body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  /* استایل بخش پارالاکس */
  .parallax {
    height: 100vh; /* ارتفاع فول اسکرین */
    background-image: url('../img/03-my-miniproject-ui/04-parallax-simple/3.jpg');
    background-attachment: fixed; /* پس‌زمینه ثابت */
    background-position: center; /* شروع از مرکز */
    background-repeat: no-repeat; /* بدون تکرار */
    background-size: cover; /* پوشش کامل */
  }

  /* استایل بخش محتوای معمولی */
  .content {
    padding: 20px;
    background: white;
    text-align: center;
  }

  /* برای تغییر پویا در پارالاکس */
  .parallax-dynamic {
    height: 100vh;
    background-image: url('../img/03-my-miniproject-ui/04-parallax-simple/2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom; /* شروع از بالا */
    transition: background-position 2s ease-out; /* حرکت نرم */
  }

  /* اسکرول پویا */
.parallax-dynamic.scrolled {
    background-position: top; /* حرکت به مرکز */
  }