  .bg {
        width: 500px;
        height: 500px;
        margin: 200px 0 15px 0;

        background-color: blue;
        background-image: url("../img/test.jpg");
        background-size: 41%;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        /* //todo shorthand */
        /* background: color image repeat attachment position */
        
       
    }