/* 12-load-more styles */
.loadmore-body{
    font-family: "YekanBakh";
    line-height: 1.5;
    padding-top: 85px ;
}
.loadmore {
    width: 1008px;
    margin: 0 auto;

  &__header{
    text-align: center;
}
  &__header_title{
    font-family: "YekanBakh Heavy";
    font-size: 30px;
    margin-bottom: 4px;
}
  &__header_img{

}
  &__content{
    background-color: #F5F5F5;
    border-radius: 16px;
    padding: 24px;
}
  &__content_text{

}
  &__content_shadow{

}
  &__content_btn{
    width: 302px;
    height: 48px;
    border-radius: 8px;
    background: #EB5E28 ;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: #fff;
    font: inherit;

}
  &__content_btn-text{

}
  &__content_btn-icon{
    width: 24px;
    height: 24px;
   
}
}
.open-btn{

}
.close-btn{
    display: none;
}