/* todo: 5-change-style Component */
#card-hover {
  font-family: "YekanBakh";
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  line-height: 1.5;
}
.card-hover {
  width: 592px;
  height: 424px;
  background-image: url("../img/mini-projects/5-card-hover-component/card.png");
  border-radius: 12px;
  position: relative;
  overflow: hidden;

  .card_icons {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: -68px;
    left: 20px;
    opacity: 1;
    visibility: visible;
    transition: 0.4s;

    &__messages {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
      width: 80px;
      height: 48px;
      border-radius: 50px;
      background: #1d2939;
      font-family: "YekanBakh Bold";
      color: #fff;
      cursor: pointer;

      &_img {
        filter: brightness(7);
      }
      &_num {
        font-size: 18px;
      }
    }

    .card_icons__heart {
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      background: #c91b4a;
      cursor: pointer;

      &_icon {
        filter: brightness(7);
      }
    }
  }

  .overlay {
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 1)
    );
    position: absolute;
    inset: 0;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
  }
  .card_content {
    color: #fff;
    position: absolute;
    bottom: -100%;
    right: 20px;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;

    &__title {
      margin-bottom: 1rem;
    }
    &__captions {
    }
  }
}
.card-hover:hover .card_content {
  bottom: 27px;
  opacity: 1;
  visibility: visible;
}
.card-hover:hover .overlay {
  opacity: 1;
  visibility: visible;
}
.card-hover:hover .card_icons {
  top: 20px;
  opacity: 1;
  visibility: visible;
}
