/* todo: 5-change-style Component */
#change-style {
  font-family: "YekanBakh";
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.change-card {
  width: 592px;
  height: 424px;
  background-image: url("../img/mini-projects/5-change-style-component/card.png");
  border-radius: 12px;

  position: relative;
}

.icons-wrapper {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;

  position: absolute;
  top: 20px;
  left: 20px;

  .change-card_messages {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 80px;
    height: 48px;
    background: #1d2939;
    border-radius: 50px;
    font-family: "YekanBakh Bold";
    color: #fff;
    
    .messages_img {
        filter: brightness(7);
    }
    .messages_num {
        font-size: 18px;
    }
  }

  .change-card_heart {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: #c91b4a;
    .heart_icon {
        filter: brightness(7);
    }
  }
}
