/* css-components --> 9-popup styles */
.popup-proj-body {
  font-family: "YekanBakh";
  line-height: 1.5;
  color: #1d2939;
  min-height: 100vh;
  

}
.svg-sprite{
    display: none;
}
.popup-btn{ /* flex-Container */
    border: inherit;
    font: inherit;
    background: #ED1A3B;
    color: #fff;
    border-radius: 10px;
    padding: 18px 0px;
    width: 326px;
    cursor: pointer;
    margin: 100px auto;

    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}
.popup-btn:hover{
   background: #f30000;
}
.popup-overlay{
  position: fixed;
  inset: 0;
  background: rgba(9, 9, 9, 0.5);
  z-index: 10; 
}